.hero-banner {
    align-items: center;
    justify-content: center;
}

.portfolio {
    font-family: $general-font;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.form {
    .form-header {
        margin: auto 35%;
    }

    .full-name {
        display: flex;
        gap: 20px;
    }
}

.container {
    padding: 30px;
    text-align: left;
    background-color: $main-color;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
        text-align: center;
        font-size: 32px;
        color: $title-color;
    }

    .profile-pic {
        text-align: center;
        margin-bottom: 30px;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid blue;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .my-info {
        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
}


.testimonal {
    text-align: center;
    flex-direction: column;

    .testimonal-slider {
        gap: 5px;

        .col-testimonal {
            border: 1px solid black;
            background-color: $section-color;

            .whole-testimonal {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px;

                .first-testimonal-header {
                    text-transform: capitalize;
                    padding: 10px;
                    font-size: 1px;

                    h4 {
                        position: relative;
                        font-size: 18px;
                        font-weight: 600;

                        &::after {
                            content: "";
                            position: absolute;
                            background-color: $primary-color;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            left: -5px;
                            top: -3px;
                            z-index: -1;
                        }
                    }
                }

                .testimonal-image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        height: 150px;
                        width: 300px;
                    }

                    .image-detail {
                        margin-left: 20px;

                        p {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 0 !important;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }

                .testimonal-para {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.tools {
    span{
        font-size: 20px;
        font-weight: 500;
    }
}
.project{
    .project-slider {
        gap: 5px;

        .col-project {
            border: 1px solid rgba(0, 0, 0, 0.11);
            
        }
        .owl-dots{
            display: none;
        }
    }
}


.form{
    border: 3px solid black;
}